<div class="jumbotron">
  <h1>What's Farm'd</h1>
  <p>Control your produce</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
  <h1>Subscribe</h1>
  <p>Plans to suit your needs</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
